*{
	padding: 0;
	margin: 0;

}
@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);
body{
	background-color: #ececeb;
	padding:0px;
}

#logo01{
	width: 100%;
	height: 100%;
	bottom:20px;
	max-width: 350px;
	max-height: 24px;

}
#title{
	position: relative;
	top:30px;
}
#nav01{
	position: relative;
	top: 20px;
	color:#414141;
	font-size:0.98em;
	font-weight: 750;
	font-family: 'News Cycle';
	
	
}
/* unvisited link */
#nav01 a:link {
    color: #414141;
}

/* visited link */
#nav01 a:visited {
    color: #414141;
}

/* mouse over link */
#nav01 a:hover {
    color: #414141;
}

/* selected link */
#nav01 a:active {
    color: #414141;
}
#carousel01{
	position: relative;
	top:-50px;
}
.crimg{
	width: 100%;
	max-height: 580px;
}
.lg01{
	height:180px;
}
.hold{

	width: 760px;
	height: 160px;
	background-color: rgba(16,0,0,0.72);
}
.ctitle{
	font-size: 2em;
	color: white;
	text-align: left;
}
footer{
	top: 700px;
	position: relative;
	border: 0px;
	min-height: 300px;
	background-color: #585658;
	color: #FFF;
	margin-top: 300px;
	bottom: 0;

}

.body01{
	position: relative;
	top: 260px;
	bottom: -200px;


}
#img00{
	height: 120%;
	width: 224px;
	max-height: 250px;

}
.body00{
	height: 200px;
	max-height: 200px;
}
.body07{
	height: 300px;
	max-height: 300px;
}
.body03{
	height: 290px;
}
.asd{
	top:-430px;
	font-size: 1.3em;
}
.asd a{
	font-size: 0.8em;
	font-family: 
}
/* unvisited link */
footer a:link {
    color: #E0E0E0 ;
}

/* visited link */
footer a:visited {
    color: #C8C8C8;
}

/* mouse over link */
footer a:hover {
    color: #FFFFFF;
}

/* selected link */
footer a:active {
    color: #FFFFFF;
}
#logo02{
	top:-280px;
	position: relative;
}
#last{
	margin-top: 15px;
	font-size: 0.8em;
}
.inccc{
	top:290px;
	position: relative;
}
.icl{
	left: 0;
}
.try{
	padding:9px;
	background-color: white;
}
.body02{
	

	margin-top: 15px;
	margin-right: 0px;
	padding-left: 5px;
	padding-right: 5px;

}
.iimg{
	width: 100%;
	height: 100%;
}
#last02{
	bottom: 200px;
}
body{
	overflow: scroll;
}
.body04{
	
	margin: 0px;
	padding: 0px;
}
#last11{
	background-color: white;
	top: -200px;
}
.body30{
	
}
.inner{
	margin-bottom:50px;
}

.ng-pristine {
    	
    }
.register01.ng-dirty.empty01 {
    border: solid #FF191D 1px;
}
.leftn{
	text-align: left;
	padding-left:30px;
	padding-top:15px;
}
.bcc{
	
	background-color:white;
}
.bcb{
	top:38px;
	background-color:white;
}
.topp{
	margin-top:-50px;
	posotion:relative;
	padding-top:50px;
	padding-bottom:10px;
}
#tposition{
	top:15px;
}
.img99{
	max-width:140px;
	max-height:140px;
	width:100%;
	height:100%;
}

@media screen and (max-width: 908px){
	
	#carousel01{
	position: relative;
	top:-20px;
}
.dp01{
	display:none;
}
.dp2{
	display:none;
}
footer{
	display:none;
}
.navbar-default {
  background-color: #C0C0C0;
  border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
  color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #777;
}
.navbar-default .navbar-nav > li > a {
  color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
	
}	
